/* 公共样式初始化 */
body {
  background-color: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  border: 0;
  padding: 0;
}
